:root {
  --red: #cc1034;
  --black: #000;
  --green: #7dd71d;
}

.infoBox {
  flex: 1;
  cursor: pointer;
  box-sizing: border-box;
}

.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox.deaths .infoBox__lastday {
  color: var(--black);
}
.infoBox.recovered .infoBox__lastday {
  color: var(--green);
}
.infoBox.cases .infoBox__lastday {
  color: var(--red);
}

.infoBox.deaths,
.infoBox.recovered,
.infoBox.cases {
  border-top: 10px solid transparent;
  transition: all 0.3s ease;
}

.infoBox.active.cases {
  border-color: var(--red);
}
.infoBox.active.recovered {
  border-color: var(--green);
}
.infoBox.active.deaths {
  border-color: var(--black);
}

.infoBox.active.cases,
.infoBox.active.recovere,
.infoBox.active.deaths {
  transition: all 0.3s ease;
}

.infoBox__lastday {
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}

.infoBox.active .infoBox__lastday {
  font-weight: 800;
  transition: all 0.3s ease;
}

.infoBox__total {
  color: #6c767d;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}
